<h1>Assignment 1</h1>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>

<h1>Assignment 2</h1>
<input type="text" [(ngModel)]="username">
<p>{{username}}</p>
<button [disabled]="!username" (click)="resetUsername()">Click Me!</button>

<h1>Assignment 3</h1>
<button (click)="toggleParagraph()">Display Details</button>
<p *ngIf="isParagraphVisible">Hello how are you?</p>
<ul>
    <li *ngFor="let date of btnClickTimeStamps; let i = index" [ngStyle]="{backgroundColor: date.colorItem ? 'blue' : '', color : date.colorItem ? 'white' : ''}">{{date.timestamp}}</li>
</ul>

<h1>Assignment 4</h1>
<app-game-control (tickEvent)="ticking($event)"></app-game-control>
<app-odd *ngFor="let number of oddNumbers" [number]="number"></app-odd>
<app-even *ngFor="let number of evenNumbers" [number]="number"></app-even>